*
!.gitignore
!README.md
!install.sh
!.zshenv
!.gitconfig

!.config/
.config/*
!.config/zsh/
.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/.zprofile
!.config/zsh/syntax-theme/
.config/zsh/syntax-theme/*
!.config/zsh/syntax-theme/*

!.config/einstein/
.config/einstein/*
!.config/einstein/.einstein-modules.txt
!.config/einstein/.einstein-passwd-v2.txt
!.config/einstein/.einstein-tasks.txt
!.config/einstein/.einstein/
.config/einstein/.eintsein/*
!.config/einstein/.einstein/*

!.config/nvim/
.config/nvim/*
!.config/nvim/init.lua
!.config/nvim/init-orig.vim
!.config/nvim/lua/
.config/nvim/lua/*
!.config/nvim/lua/map/
!.config/nvim/lua/plg/
!.config/nvim/lua/set/
!.config/nvim/lua/plg/
.config/nvim/lua/map/*
.config/nvim/lua/plg/*
.config/nvim/lua/set/*
.config/nvim/lua/plg/*
!.config/nvim/lua/map/init.lua
!.config/nvim/lua/plg/init.lua
!.config/nvim/lua/set/init.lua
!.config/nvim/lua/plg/init.lua


!.config/neofetch/*
!.config/picom/*
!.config/qutebrowser/*
!.config/ranger/*
!.config/stat/*
!.config/zsh/*
