* {
    font-family: JetBrainsMonoNL Nerd Font;
    font-size: 20px;
   color: black;
}

.time {
    background-color: #E57187;
}
.battery {
    background-color: green;
}
.memory {
    background-color: gray;
}
    
